<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGenGaming</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/2132230c71.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-home">
        <header class="header-home">
            <nav>
                <img src="../img/img_logo.png" alt="Logo" width="150px">
                <div class="logotipo" alt = "logo" width="100px"></div> 
                    <ul class="menu">
                        <li><a href="company.html">COMPANY</a></li>
                        <li><a href="Products/linetime.html">PRODUCTS</a></li>
                        <li><a href="press_release.html">PRESS RELEASE</a></li>
                        <li><a href="recruity.html">RECRUITY</a></li>
                        <li><a href="support.html">SUPPORT</a></li>
                    </ul>
            </nav>
        </header>
        <section class="gallery-image">
            <div class="card">
                <img src="../img/DarkSouls.png" alt="Century game cover">
                <div class="title">Dark Souls</div>
            </div>
            <div class="card">
                <img src="../img/god_of_war.png" alt="God of War game cover">
                <div class="title">God of War</div>
            </div>
            <div class="card">
                <img src="../img/horizon.png" alt="Horizon game cover">
                <div class="title">Horizon</div>
            </div>
            <div class="card">
                <img src="../img/nfs.png" alt="Need for Speed game cover">
                <div class="title">Need for Speed</div>
            </div>
            <div class="card">
                <img src="../img/zelda.png" alt="Zelda game cover">
                <div class="title">The Legend of Zelda</div>
            </div>
        </section>
        <footer class ="footer-home">
            <div class="section-one">
                <div class="date-release">
                    <span>2025.02.12</span> 
                    <span>PRESS RELEASE</span>
                </div>
                <p>“ELDEN RING NIGHTREIGN” Releasing on May 30th 2025 (Friday) - Currently available for pre-order</p>
            </div>
        
            <div class="section-two">
                <div class="links-social">
                    <i class="fa-brands fa-x-twitter"></i> 
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
                
                <div class="link-games">
                    <p>>> AMORET CORE OFFICIAL SITE</p>
                    <p>>> DARK SOULS OFFICIAL SITE</p>
                </div>
                
                <div class="span-links">
                    <a href="#">SNS</a>
                    <a href="#">ACCESS</a>
                    <a href="#">PRIVACY POLICY</a>
                    <a href="#">SITE POLICY</a>
                    <a href="#">SITEMAP</a>
                    <a href=""><span><i class="fa-solid fa-earth-americas"></i> Spanish</span> </a>
                </div>
            </div>
        </footer>
    </div>
    
    
</body>
</html>