<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <script src="https://kit.fontawesome.com/2132230c71.js" crossorigin="anonymous"></script>
  <title>Products | Next Gen Gaming</title>
</head>

<body>
  <div class="cont-products">
    <header class="header-products">
      <a href="index.html"><img src="../img/logo-ngg-removebg-preview.png" alt="" width="150px"></a>
    </header>
    <div class="header-sub">
      <h1>PRODUCTS</h1>
    </div>
    <div class="contents-nav">
      <ul>
        <li>All (Chronological)</li>
        <li>Plataform</li>
        <li>Sountrack</li>
        <li>Mobile Apps</li>
      </ul>
    </div>
    <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location = 'Games/GOW.html'">
              <img src="../img/GodOfWar/fondo.png" alt="">
              <div class="rb-title">God Of War: Ragnarok</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">November 9, 2022</span>
              <span class="PS5">PS5</span>
              <span class="PS4">PS4</span>
            </div>
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location='Games/Zelda.html'">
              <img src="../img/Zelda/fondo.png" alt="">
              <div class="rb-title">The Legend Of Zelda: Tears Of The Kingdom</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">May 12, 2023</span>
              <span class="NS">Nintendo switch</span>
            </div>
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location='Games/EldenRing.html'">
              <img src="../img/EldenRing/fondo.png" alt="">
              <div class="rb-title">Elden Ring Shadow Of The Erdtree Edition</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">June 21, 2024</span>
              <span class="PS5">PS5</span>
              <span class="PS4">PS4</span>
              <span class="XBOX-ONE">Xbox ONE</span>
              <span class="Windows">Windows</span>
            </div>
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location='Games/Horizon.html'">
              <img src="../img/Horizon/fondo.png" alt="">
              <div class="rb-title">Horizon</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">February 18, 2022</span>
              <span class="PS5">PS5</span>
              <span class="PS4">PS4</span>
              <span class="Windows">Windows</span>
            </div>
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location='Games/NFS.html'">
              <img src="../img/nfs/fondo.png" alt="">
              <div class="rb-title">Need For Speed Heat</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">November 8, 2019</span>
              <span class="PS4">PS4</span>
              <span class="XBOX-ONE">Xbox ONE</span>
              <span class="Windows">Windows</span>
            </div>
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="cont-card" onclick="window.location = 'Games/DarkSouls.html'">
              <img src="../img/DarkSouls/fondo.png" alt="">
              <div class="rb-title">Dark Souls Remaster</div>
            </div>
            <div class="cont-span-platform">
              <span class="release-date">May 24, 2018</span>
              <span class="PS4">PS4</span>
              <span class="XBOX-ONE">Xbox ONE</span>
              <span class="NS">Nintendo switch</span>
              <span class="Windows">Windows</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <footer class="f2">
      <div class="section-one-f2">
        <div class="lenguaje">English<i class="fa-solid fa-repeat" style="color: #ffffff;"></i></div>
        <div class="social">
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      <div class="section-two-f2">
        <div class="p1">
          <a href=""><p>>ACCESS</p></a>
          <a href=""><p>>PRIVACY POLICY</p></a>
          <a href=""><p>>SITE POLICY</p></a>
          <a href=""><p>>SITEMAP</p></a>
        </div>
        <div class="p2">
          <p>© 1994-2025 FromSoftware, Inc. All rights reserved.</p>
      </div>
    </footer>
  </div>
</body>

</html>