<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <script src="https://kit.fontawesome.com/2132230c71.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="cont-products">
        <header class="header-products">
            <a href="../index.html"><img src="../../img/logo-ngg-removebg-preview.png" alt="" width="150px"></a>
        </header>
        <div class="header-sub">
            <h1>PRODUCTS</h1>
        </div>

        <div class="game-container">
            <div class="section-one">
                <div class="game-cover">
                    <div class="img-game">
                        <img src="../../img/EldenRing/portada.png" alt="ELDEN RING SHADOW OF THE ERDTREE EDITION">
                    </div>
                    <div class="span-platform">
                        <span class="PS5">PS5</span>
                        <span class="PS4">PS4</span>
                    </div>
                </div>
                <div class="game-info">
                    <h2 class="title-game">ELDEN RING SHADOW OF THE ERDTREE EDITION</h2>
                    <div class="description">
                        <ul class="description-list">
                            <li class="description-item">
                                <ul >
                                    <li>Genre:</li>
                                    <li>Action RPG</li>
                                </ul>
                            </li>
                            <li class="description-item">
                                <ul>
                                    <li>Platform:</li>
                                    <li>PlayStation 4, PlayStation 5</li>
                                </ul>
                            </li>
                            <li class="description-item">
                                <ul>
                                    <li>Players:</li>
                                    <li>1-4<br>Note: In the "Colosseum," supports up to 6</li>
                                </ul>
                            </li>
                            <li class="description-item">
                                <ul>
                                    <li>Release Date:</li>
                                    <li>June 21, 2024</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <button class = "btn-game" onclick="window.location.href = 'https://www.eldenring.jp/'">>> Official site</button>
                </div>
            </div>
            
            <hr>
            
            <div class="game-summary">
                <h3>Game Summary</h3>
                <p>An all-in-one version containing ELDEN RING as well as the new, DLC SHADOW OF THE ERDTREE.</p>
                <p>In "ELDEN RING SHADOW OF THE ERDTREE" the story of Miquella is depicted in a new setting, the Realm of Shadow. Enjoy an adventure with a high degree of freedom across a variety of mysterious and perilous situations, with a whole host of newly added weapons and armor.</p>
            </div>

            <div class="game-Screenshots">
                <h3>Screenshots</h3>
                <div class="gallery-container">
                    <div class="main-image">
                        <img id="main-img" src="../../img/EldenRing/1.png" alt="Imagen principal">
                    </div>
                    
                    <div class="thumbnails">
                        <div class="thumbnail active" data-src="../../img/EldenRing/1.png">
                            <img src="../../img/EldenRing/1.png" alt="Miniatura 1">
                        </div>
                        <div class="thumbnail" data-src="../../img/EldenRing/2.png">
                            <img src="../../img/EldenRing/2.png" alt="Miniatura 2">
                        </div>
                        <div class="thumbnail" data-src="../../img/EldenRing/3.png">
                            <img src="../../img/EldenRing/3.png" alt="Miniatura 3">
                        </div>
                        <div class="thumbnail" data-src="../../img/EldenRing/4.png">
                            <img src="../../img/EldenRing/4.png" alt="Miniatura 4">
                        </div>
                        <div class="thumbnail" data-src="../../img/EldenRing/5.png">
                            <img src="../../img/EldenRing/5.png" alt="Miniatura 5">
                        </div>
                    </div>
                </div>
            </div>
            
        
        </div>


        <footer class="f2">
            <div class="section-one-f2">
                <div class="lenguaje">English<i class="fa-solid fa-repeat" style="color: #ffffff;"></i></div>
                <div class="social">
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
            <div class="section-two-f2">
                <div class="p1">
                    <a href=""><p>>ACCESS</p></a>
                    <a href=""><p>>PRIVACY POLICY</p></a>
                    <a href=""><p>>SITE POLICY</p></a>
                    <a href=""><p>>SITEMAP</p></a>
                </div>
            <div class="p2">
                <p>© 1994-2025 FromSoftware, Inc. All rights reserved.</p>
            </div>
          </footer>
    </div>

    <script src="../../assets/js/gallery.js"></script>
</body>
</html>